@charset "utf-8";
/* CSS Document */
/* ---------------------------------------------------------------------- NAVIGATION STARTS  ------------------ */

.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.navbar-nav>li>a.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default.sticky .navbar-nav>li>a:hover {
    color: #f53700;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #f53700;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #f53700;
    background-color: transparent;
}
.navbar-default .navbar-nav {
    padding-top: 40px;
    padding-bottom: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-default.sticky .navbar-nav {
    padding-top: 10px;
    padding-bottom: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-default.sticky .navbar-nav>li>a {
    color: #222;
}
.navbar-default.sticky .navbar-nav .nav-menu::after {
    color: #222;
}
nav.fill-black.normal {
    background: rgba(20, 20, 20, 0);
    position: fixed;
    top: 10px;
    width: 99%;
    z-index: 999999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav.fill-black.sticky {
    position: fixed;
    top: 10px;
    background: rgba(255, 255, 255, 1);
    width: 99%;
    z-index: 999999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.reservation {
    padding-top: 12px;
}
.reservation a.transparent-grey {
    text-transform: uppercase;
    width: 100%;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 11px !important;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-default.sticky .reservation a.transparent-grey {
    border: 2px solid #222;
}
.reservation a.transparent-grey:hover {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: #fff!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-default.sticky .reservation a.transparent-grey:hover {
    border: 2px solid #f53700;
    background-color: #f53700!important;
    color: #fff;
}
.navbar-default.sticky .dark-logo,
.navbar-default.sticky .navbar-header .dark-logo {
    display: inline-block;
}
.navbar-default .dark-logo,
.navbar-default.sticky .light-logo,
nav.normal .navbar-header .dark-logo {
    display: none;
}
.navbar-default.sticky .navbar-header .visible-xs.light-logo {
    display: none !important;
}
.navbar-default.normal .navbar-header .visible-xs.dark-logo {
    display: none !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default.sticky .navbar-toggle .icon-bar {
    background-color: #222;
}
/* Dropdown Menu Starts */

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #222222;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-top: 2px solid #f53700;
}
.dropdown-menu>li>a {
    display: block;
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    clear: both;
    font-weight: 700;
    line-height: 1.6;
    color: #8f8f8f;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f53700;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f53700;
    outline: 0;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-menu .yamm-content {
    padding: 10px;
}
.dropdown-menu .yamm-content ul li {
    list-style-type: none;
    min-width: 180px;
}
.dropdown-menu .yamm-content ul li h2 {
    padding-left: 20px;
    padding-right: 11px;
    font-weight: 400;
    line-height: 1.3 !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 600;
    color: #fff;
}
.dropdown-menu .yamm-content ul li a {
    display: block;
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    font-weight: 500;
    line-height: 1.3 !important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0px;
    color: #8f8f8f;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-align: left;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.dropdown-menu .yamm-content ul li a:hover {
    color: #f53700;
    text-decoration: none;
}
.shop_cart>a {
    margin-top: -8px;
}
.shop_cart>a>span {
    display: block;
    position: absolute;
    top: 12px;
    left: auto;
    right: 0px;
    font-size: 13px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #f53700;
    border-radius: 50%;
}
.shop_cart>a i.fa-shopping-cart {
    font-size: 24px;
    top: 4px;
    position: relative;
}
.shop_cart_content {
    width: 265px;
    -webkit-transition: opacity .5s ease, top .4s ease;
    transition: opacity .5s ease, top .4s ease;
}
.shop_cart_content h4 {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    border-bottom: 1px solid #3a3a3a;
}
.shop_cart_content .cart_items {
    margin: 0px;
}
.shop_cart_content .cart_items img {
    margin-right: 15px;
    max-height: 58px;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.shop_cart_content .cart_items .item {
    padding: 15px 10px;
    border-bottom: 1px solid #3a3a3a;
}
.shop_cart_content .cart_items .item_desc {
    float: left;
}
.shop_cart_content .cart_items .item_desc .row1 a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}
.shop_cart_content .cart_items .item_desc .row1 .close {
    float: right;
    color: #fff;
    font-size: 16px;
}
.shop_cart_content .cart_items .item_desc .row2 span,
.shop_cart_content .cart_items .item_desc .row2 div {
    display: inline-block;
}
.shop_cart_content .cart_items .item_desc .row2 span.item_quantity {
    float: right;
    font-size: 12px;
    color: #8f8f8f;
    padding-left: 12px;
}
.shop_cart_content .cart_items .item_desc .row2 span.item_price {
    float: right;
    font-size: 12px;
    color: #8f8f8f;
    font-weight: 700;
}
.shop_cart_content .cart_items .item_desc .star ol {
    padding: 0px;
    margin: 0px;
    padding-right: 12px;
}
.shop_cart_content .cart_items .item_desc .star ol li {
    padding-right: 0px;
    padding-left: 1px;
    display: inline-block!important;
    color: #f53700;
    font-size: 13px;
}
.shop_cart_content .shop_action {
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.shop_cart_content .total-price {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3a3a3a;
}
.shop_cart_content .total-price .caption {
    margin-top: 3px;
    float: left;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.shop_cart_content .total-price .shop_checkout_price {
    margin-top: 3px;
    float: right;
    font-size: 14px;
    color: #f53700;
    text-transform: uppercase;
    font-weight: 700;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #f53700;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #f53700;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:hover {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}
.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #fff;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: transparent!important;
    color: #fff!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn2:hover {
    border: 2px solid #fff!important;
    background-color: #fff!important;
    color: #f53700!important;
}
.social-header a {
    display: inline-block !important;
}
.nav-menu::after {
    content: '\f005';
    font-family: 'FontAwesome';
    font-size: 9px;
    position: relative;
    left: 15px;
    top: -2px;
    color: rgba(255, 255, 255, 0.5);
}
.navbar-nav > li:last-child .nav-menu::after {
    display: none;
}
/* Dropdown Menu Ends */
/* ---------------------------------------------------------------------- NAVIGATION ENDS  ------------------ */

@media (max-width: 991px) {
    .shop_cart {
        position: absolute !important;
        top: 20px;
        right: 90px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .shop_cart>a {
        float: right;
    }
    .navbar-nav>li.shop_cart>.dropdown-menu {
        position: relative;
        top: 50px;
        background-color: #222222;
    }
	.navbar-default .navbar-nav {
		padding-top: 0px;
		padding-bottom: 0px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
    .yamm .navbar-nav li {
        background-color: #222222;
    }
    .navbar-default.sticky .navbar-nav>li>a {
        color: #ccc;
    }
    .yamm .shop_cart.dropdown {
        background: none;
    }
}